:root {
    --background-color: #000000;
    --background-color-active: #404040;

    --primary: #E6E8E6;
    --secondary: #429EA6;
    --tri: #0DAB76;

    --bright: #fff;
    --dark: #000000;

    --border-alt: #101010;
}

* {
    box-sizing: border-box;
    font-family: "Poppins";
}

a {
    text-decoration: none;
    color: var(--primary);
}

.main {
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: var(--background-color);
    color: var(--primary);
    padding: 1em;
    margin: 0;
}

.space {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 15px;
}

.group {
    background-color: var(--background-color);
}

h1 {
    font-size: 2em;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    color: var(--secondary);
}

h2 {
    padding-bottom: 5px;
    border-bottom: var(--primary) solid 2px;
    color: var(--secondary);
}

h3 {
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: var(--primary) solid 2px;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
}

.bordered {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;

    outline: 5px;
    outline-offset: -5px;
    outline-color: var(--secondary);
    outline-style: solid;
}

li {
    cursor:auto;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}

li:hover {
    margin-left: 4px;
    padding-left: 6px;
    padding-top: 0px;
    padding-bottom: 0px;

    color: var(--secondary);
}



.button {
    align-items: center;
    background-color: var(--secondary);
    border-radius: 25px;
    color: var(--background-color);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: rgba(255, 255, 255, 0) solid 26px;
    outline-offset: -26px;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    border: 0;
    transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover {
    outline-style: solid;
    outline-offset: 5px;
    outline-width: 5px;
    outline-color: white;
}

.button:active {
    outline-color: var(--secondary);
}

.back {
    position: absolute;
    left: calc(100% - 130px);
    top: 16px;
}

.bright {
    color: var(--bright);
}