:root {
    --background-c: #022B3A;
    --accent-c: #1F7A8C;
    --bright: #BFDBF7;

    --dark: #000;
    --white: #fff;

    --whiten: rgba(255, 255, 255, 0.13);
    --darken: rgba(0, 0, 0, 0.13);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-c);
    color: var(--white);
}

.welcome_d {
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}